{% extends 'users/basemain.html' %}
{% load static  %}


{% block content %}

<section class="page-banner overlay pt-170 pb-60 bg_cover" style="background-image: url({% static 'assets/images/bg/page-bg.jpg' %});">    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="page-banner-content text-center text-white">
                <h1 class="page-title"style="background-color: #0f238d; padding: 15px; border-radius:10px;  display: inline-block;">Corporate Travel</h1>
           
       <h6>
        At Novustell Travel we understand that corporate travel is more than just movement; it's a strategic element of your business. We seamlessly blend our expertise with your goals, ensuring every trip aligns with your objectives.     </h6>
            </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="blog-section  pt-60 black-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <!--=== Blog Content Box ===-->
                <div class="blog-content-box mb-40 wow fadeInLeft text-white" style="visibility: visible; animation-name: fadeInLeft;">
                    <!--=== Section Title ===-->
                    <div class="section-title mb-30">
                        <!-- <span class="sub-title">Why choose us</span> -->
                        <h2>Meet your travel and travel related needs at world-class level and  at the Lowest cost possible</h2>
                    </div>
                  
                </div>
            </div>
            <div class="col-xl-6">
                <!--=== Blog Content Box ===-->
                <div class="blog-content-box mb-40 wow fadeInLeft text-white" style="visibility: visible; animation-name: fadeInLeft;">
                    <!--=== Section Title ===-->
                 
                    <p class="mb-20">We recognize the evolving requirements of modern businesses when it comes to seamless travel arrangements. We intimately understand the daily challenges faced by small to medium enterprises (SMEs). As your business expands, so do the complexities of managing corporate travel expenses, often a significant portion of your financials. Our unwavering commitment is to empower your SME with time and cost savings.

 We are your convenient one-stop hub for all your business travel needs.
                        
                      </p>
                    <a style="color:#ff9900" href="https://wa.me/254701363551" target="_blank" class="btn-link ">Request CallBack<i class="far fa-long-arrow-right"></i></a>
                </div>
            </div>
      
        </div>
    </div>
</section>
<br>
<section class="service-section  pt-60 ">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-50 ">
                    <!-- <span class="sub-title">Why Novustell Corporate Travel?</span> -->
                    <h2>Why Businesses choose Novustell Corporate Travel?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box-four mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <img src="{% static 'assets/fonts/support.png' %}" alt="Your Icon Description">
                    </div>
                    <div class="text">
                        <h4 class="title">A Dedicated Travel Manager</h4>
                        <p>A dedicated travel manager for expert guidance in optimizing your company's business trips at no extra cost. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box-four mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon-wifi-router"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Tailored Solutions</h4>
                        <p>We recognize that Every corporate client is unique, which is why we offer personalized travel solutions. Whether it's large group bookings, executive itineraries, or negotiating competitive rates.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box-four mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon-solar-energy"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Global Reach</h4>
                        <p>With our vast network of trusted suppliers and travel partners worldwide, we possess the expertise and resources to handle both domestic and international travel requirements seamlessly.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box-four mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon-cycling"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Deliverable Savings</h4>
                        <p> With our extensive network of industry partners and cutting-edge technology, we leverage our buying power to secure the most competitive rates for flights, accommodations, and ancillary services.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!--=== Fancy Icon Box ===-->
                <div class=" pt-60 mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <h6>Choosing Novustell Corporate Travel is the easiest business decision you’ll make all year. We've made it our business to know the travel needs of yours.</h6>
                    <a style="color:#ff9900; font-size: larger; " href="https://wa.me/254701363551" target="_blank" class="btn-link pt-10 ">Get Started <i class="far fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="justify-content-center text-white" >
            <div class="col-xl-10 ">
     

    </div>

</div>
    </div>
</section>
<section class="blog-section pt-10 black-bg pb-10">
    <br><br><br>
    <div class="container">
        <div class="row align-items-center text-white">
            <div class="col-xl-8">
                <!--=== Blog Content Box ===-->
                <div class="blog-content-box mb-40 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                    <!--=== Section Title ===-->
                    <div class="section-title mb-30">
                        <span class="sub-title">Role of our Travel Managers</span>
                        <h2>Your Personal Travel Assistants:  Always at Your Service</h2>
                    </div>
                    <p class="mb-20">Connect directly with a dedicated point of contact who possesses in-depth knowledge of your business and its travel necessities. Our dedicated Travel Managers operate as an extension of your team, much like your personal travel assistants. This personalized, people-centric approach adds exceptional value to your travel program.</p>
                </div>
            </div>
            <div class="col-xl-4">
                <!--=== Single Blog Post ===-->
                <div class="single-place-item-two mb-30 wow fadeInUp">
                    <div class="place-img">
                        <img src="{% static 'assets/images/blog/blog-4.jpg ' %}" alt="Place Image">
                        <span class="tour-count">20+ Services</span>
                       <div class="place-content">
                            <div class="info text-white">
                                <h3 class="title mb-10"><strong>seamless experience</strong> </h3>
                                <div data-animation="fadeInRight" data-delay=".6s"> 
                                    <span class="sub-title">  <a href="https://wa.me/254701363551" target="_blank""> <small> Talk to us <i class="fas fa-paper-plane"></i></small> </a> </span>
                                </div>                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    {% include 'users/footer.html' %}
    {% endblock %}