{% extends 'users/basemain.html' %}
{% load static  %}


{% block content %}

        <!--====== Start Features Section ======-->
        <section class="features-section black-bg pt-100 pb-50">
            <div class="container">
                <div class="row align-items-xl-center">
                    <div class="col-xl-5">
                        <!--=== Features Content Box ===-->
                        <div class="features-content-box text-white  mb-50 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                            <!--=== Section Title ===-->
                            <div class="section-title mb-30">
                                <span class="sub-title">About Us</span>
                                <br>
                                <h2>End-to-End Travel Planning</h2>
                            </div>
                            <p>At Novustell Travel, we're more than just travel experts; we're  your strategic partner committed to elevating your travel experiences. We aim to alleviate the burdens of travel logistics, with a genuine commitment to delivering exceptional  travel solutions.</p>
                            <p class="mb-30"> we bring over 20 years of invaluable experience and a credible reputation to the table. Our mission is to provide you with not only the best travel consultancy but also the most innovative itineraries and cost-effective solutions</p>
                            <a href="#" class="main-btn filled-btn text-white">Planning to travel?<i class="far fa-paper-plane"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="features-item-area mb-20 pl-lg-70">
                            <div class="activity-nav-tab mb-30 wow fadeInLeft" style="background-color: rgba(246, 250, 249, 0); margin-top: -10px; visibility: visible; animation-name: fadeInLeft;">
                                <ul class="nav nav-tabs" role="tablist">
                               
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab2" aria-selected="true" role="tab">Airport Transfers</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab3" aria-selected="true" role="tab">Car Hire </a>
                                    </li>
                                
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab5" aria-selected="true" role="tab">Visa Assistance</a>
                                    </li>
                                  
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab6" aria-selected="true" role="tab">Travel Insurance </a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab7" aria-selected="true" role="tab"> Tours and Safaris</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab8" aria-selected="true" role="tab">Frequent Flyer Registration</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab9" aria-selected="true" role="tab">Student Travel</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab9" aria-selected="true" role="tab">Conference &amp; Meetings</a>
                                    </li>
                                   
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!--=== Fancy Icon Box ===-->
                                    <div class="fancy-icon-box-two mb-30 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                         <div class="text">
                                            <h3 class="title">Air Ticketing Services</h3>
                                            <p><small>Access the best discounted airfares in the market for both domestic and international travel.</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--=== Fancy Icon Box ===-->
                                    <div class="fancy-icon-box-two mb-30 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="text">
                                            <h3 class="title"> Accommodation </h3>
                                            <p><small>We negotiate competitive rates with partner hotels Whether it's luxury hotels, boutique lodgings or extended-stay options.</small></p>
                                        </div>
                                    </div>
                                </div>
                                
                             
                            </div>
                          
                        </div>
                    </div>
               
                </div>
            </div>
        </section><!--====== End Features Section ======-->
        <section class="testimonial-section pt-30 pb-30 black-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <!--=== Section Title ===-->
                        <div class="section-title text-center mb-60 wow fadeInDown text-white" style="visibility: visible; animation-name: fadeInDown;">
                            <span class="sub-title">Testimonials</span>
                            <h2>What Our Clients are saying</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-xl-center">
                    <div class="col-xl-4 col-lg-12 order-2 order-xl-1">
                        <!--=== Testimonial Image ===-->
                        <div class="testimonial-one_image-box mb-40 wow fadeInLeft" style="border-radius: 20px; visibility: visible; animation-name: fadeInLeft;">
                            <img src="{% static 'assets/images/testimonial/testimonial-1.jpg' %}" alt="Testimonial Image" style="border-radius: 20px;">
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 order-1 order-xl-2 text-white">
                        <!--=== Testimonial Slider ===-->
                        <div class="testimonial-slider-one pl-lg-55 mb-40 wow fadeInRight slick-initialized slick-slider" style="visibility: visible; animation-name: fadeInRight;">
                            <!--=== Testimonial Item ===-->
                            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 6264px; transform: translate3d(-696px, 0px, 0px);"><div class="gw-testimonial-item slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 696px;" tabindex="-1">
                                <div class="testimonial-inner-content text-white">
                                    <div class="author-thumb-title">
                                        <div class="author-thumb">
                                            <img src="{% static 'assets/images/testimonial/KEBSLOGO.png' %}" alt="Author Image">
                                        </div>
                                        <div class="author-title">
                                            <h3 class="title">Kenya Bureau of Standards </h3>
                                        </div>
                                    </div>
                                    <div class="quote-rating-box">
                                      
                                        <div class="ratings-box">
                                            <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-white" style="font-size: medium;">"
                                        We have built an excellent relationship especislly during our Conferences,
                                         which have always had a tight budget, but they have always managed to workwith the guidelines given and deliver.
                                        "
                
                                      
                                        "</p>
                                 
                                </div>
                            </div><div class="gw-testimonial-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 696px;" tabindex="0">
                                <div class="testimonial-inner-content text-white">
                                    <div class="author-thumb-title">
                                        <div class="author-thumb">
                                            <img src="{% static 'assets/images/testimonial/1.png' %}" alt="Author Image">
                                        </div>
                                        <div class="author-title">
                                            <h3 class="title">Maasai Mara University</h3>
                                        </div>
                                    </div>
                                    <div class="quote-rating-box">
                                      
                                        <div class="ratings-box">
                                            <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-white" style="font-size: medium;">"Novustell Travel has a good track record working with us and has proved
                                        to be efficient and reliable in their Service. We do not hesitate to 
                                        recommend them to any organisation for similar services."</p>
                                 
                                </div>
                            </div><div class="gw-testimonial-item slick-slide" data-slick-index="1" aria-hidden="true" style="width: 696px;" tabindex="-1">
                                <div class="testimonial-inner-content text-white">
                                    <div class="author-thumb-title">
                                        <div class="author-thumb">
                                            <img src="{% static 'assets/images/testimonial/jesuits.png' %}" alt="Author Image">
                                        </div>
                                        <div class="author-title">
                                            <h3 class="title">   <span></span>Jesuits</h3>
                                        </div>
                                    </div>
                                    <div class="quote-rating-box">
                                      
                                        <div class="ratings-box">
                                            <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-white" style="font-size: medium;">"
                                        Novustell Travel Customer Service has been Commendable, and they have 
                                        been able to advise us in all aspects of our requests to them. 
                                        We have noticed improved efficiency, and some savings in our budget.
                                       
                                         ""</p>
                                 
                                </div>
                            </div><div class="gw-testimonial-item slick-slide" data-slick-index="2" aria-hidden="true" style="width: 696px;" tabindex="-1">
                                <div class="testimonial-inner-content text-white">
                                    <div class="author-thumb-title">
                                        <div class="author-thumb">
                                            <img src="{% static 'assets/images/testimonial/2.png' %}" alt="Author Image">
                                        </div>
                                        <div class="author-title">
                                            <h3 class="title">Symbio Health care</h3>
                                        </div>
                                    </div>
                                    <div class="quote-rating-box">
                                      
                                        <div class="ratings-box">
                                            <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-white" style="font-size: medium;">"
                                        We value our relationship with Novustell Travel and its a pleasure working with them.
                                        They have a passion for the travel industry that has enebled them to surpass our expectations.
                
                                      
                                        "</p>
                                 
                                </div>
                            </div><div class="gw-testimonial-item slick-slide" data-slick-index="3" aria-hidden="true" style="width: 696px;" tabindex="-1">
                                <div class="testimonial-inner-content text-white">
                                    <div class="author-thumb-title">
                                        <div class="author-thumb">
                                            <img src="{% static 'assets/images/testimonial/KEBSLOGO.png' %}" alt="Author Image">
                                        </div>
                                        <div class="author-title">
                                            <h3 class="title">Kenya Bureau of Standards </h3>
                                        </div>
                                    </div>
                                    <div class="quote-rating-box">
                                      
                                        <div class="ratings-box">
                                            <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-white" style="font-size: medium;">"
                                        We have built an excellent relationship especislly during our Conferences,
                                         which have always had a tight budget, but they have always managed to workwith the guidelines given and deliver.
                                        "
                
                                      
                                        "</p>
                                 
                                </div>
                            </div><div class="gw-testimonial-item slick-slide slick-cloned" data-slick-index="4" id="" aria-hidden="true" style="width: 696px;" tabindex="-1">
                                <div class="testimonial-inner-content text-white">
                                    <div class="author-thumb-title">
                                        <div class="author-thumb">
                                            <img src="{% static 'assets/images/testimonial/1.png' %}" alt="Author Image">
                                        </div>
                                        <div class="author-title">
                                            <h3 class="title">Maasai Mara University</h3>
                                        </div>
                                    </div>
                                    <div class="quote-rating-box">
                                      
                                        <div class="ratings-box">
                                            <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-white" style="font-size: medium;">"Novustell Travel has a good track record working with us and has proved
                                        to be efficient and reliable in their Service. We do not hesitate to 
                                        recommend them to any organisation for similar services."</p>
                                 
                                </div>
                            </div><div class="gw-testimonial-item slick-slide slick-cloned" data-slick-index="5" id="" aria-hidden="true" style="width: 696px;" tabindex="-1">
                                <div class="testimonial-inner-content text-white">
                                    <div class="author-thumb-title">
                                        <div class="author-thumb">
                                            <img src="{% static 'assets/images/testimonial/jesuits.png' %}" alt="Author Image">
                                        </div>
                                        <div class="author-title">
                                            <h3 class="title">   <span></span>Jesuits</h3>
                                        </div>
                                    </div>
                                    <div class="quote-rating-box">
                                      
                                        <div class="ratings-box">
                                            <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-white" style="font-size: medium;">"
                                        Novustell Travel Customer Service has been Commendable, and they have 
                                        been able to advise us in all aspects of our requests to them. 
                                        We have noticed improved efficiency, and some savings in our budget.
                                       
                                         ""</p>
                                 
                                </div>
                            </div><div class="gw-testimonial-item slick-slide slick-cloned" data-slick-index="6" id="" aria-hidden="true" style="width: 696px;" tabindex="-1">
                                <div class="testimonial-inner-content text-white">
                                    <div class="author-thumb-title">
                                        <div class="author-thumb">
                                            <img src="{% static 'assets/images/testimonial/2.png' %}" alt="Author Image">
                                        </div>
                                        <div class="author-title">
                                            <h3 class="title">Symbio Health care</h3>
                                        </div>
                                    </div>
                                    <div class="quote-rating-box">
                                      
                                        <div class="ratings-box">
                                            <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-white" style="font-size: medium;">"
                                        We value our relationship with Novustell Travel and its a pleasure working with them.
                                        They have a passion for the travel industry that has enebled them to surpass our expectations.
                
                                      
                                        "</p>
                                 
                                </div>
                            </div><div class="gw-testimonial-item slick-slide slick-cloned" data-slick-index="7" id="" aria-hidden="true" style="width: 696px;" tabindex="-1">
                                <div class="testimonial-inner-content text-white">
                                    <div class="author-thumb-title">
                                        <div class="author-thumb">
                                            <img src="{% static 'assets/images/testimonial/KEBSLOGO.png' %}" alt="Author Image">
                                        </div>
                                        <div class="author-title">
                                            <h3 class="title">Kenya Bureau of Standards </h3>
                                        </div>
                                    </div>
                                    <div class="quote-rating-box">
                                      
                                        <div class="ratings-box">
                                            <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-white" style="font-size: medium;">"
                                        We have built an excellent relationship especislly during our Conferences,
                                         which have always had a tight budget, but they have always managed to workwith the guidelines given and deliver.
                                        "
                
                                      
                                        "</p>
                                 
                                </div>
                            </div></div></div>
                            
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        <!--====== End Testimonial Section ======-->
              <!--====== Start Partners Section ======-->
              <!-- <section class="features-section black-bg ">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-6">
                            <div class="features-content-box  wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                <p class="mb-25">Sit amet consectetue integer eu tincidunt scelerisque. Sodales
                                    volutpat neque fermentum alesuada scelerisque massa.</p>
                                <div class="row justify-content-center text-white">
                                    <div class="col-sm-4 col-6">
                                        <div class="counter-item mb-55">
                                            <h2 class="number"><span class="count">1356</span>+</h2>
                                            <p>Happy TravelLers</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-6">
                                        <div class="counter-item mb-55">
                                            <h2 class="number"><span class="count">20</span>+</h2>
                                            <p>Partnerships</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-6">
                                        <div class="counter-item mb-55">
                                            <h2 class="number"><span class="count">99</span>%</h2>
                                            <p>Positive Reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-title mb-55 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                <span class="sub-title">Milestones</span>
                                <h2>Most Funning Company
                                    Travel and Tours</h2>
                            </div>
                        </div>
                    </div>
              
                </div>
            </section> -->
            {% include 'users/footer.html' %}

    {% endblock %}