{% extends 'users/basemain.html' %}
{% load static  %}


{% block content %}


<section class="page-banner overlay pt-170 pb-60 bg_cover" style="background-image: url({% static 'assets/images/bg/page-bg.jpg' %});">    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title"style="background-color: #020333; padding: 15px; border-radius:10px;  display: inline-block;">Novustell Holidays</h1>
               
           <h6>
            Just as we customize our other travel services, our Holidays are tailored to suit your preferences and schedule. Whether you're seeking a cultural excursion, an adventurous safari, or a tranquil escape, our offerings cater to a range of interests.
           </h6>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-list-section black-bg pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            
            {% for package in packages %}
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                
                    <div class="place-content">
                        <div class="place-img">
                            <img src="{{ package.Image.cdn_url }}" alt="Place Image">
                        </div>
                       
                        <div class="info">
                            <br>
                            <h4 class="title"><a href="{% url 'users:users-detail-package' package.id %}">{{ package.package_name }}</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>{{ package.destination.city }}, {{ package.destination.state }}</p> 
                            <p class="price"><i class="fas fa-usd-circle"></i>  From <span class="currency">KES  </span> {{ package.adult_price }}</p>
                          
                            <br>
                            <p class="price">  <small> (fly <i class="far fa-plane"></i> + stay <i class="far fa-bed"></i> ,  with airport transfer)  </small>  <span class="currency">  <strong> @ KES   {{ package.adult_price }} </strong></span></p>
                           <br>
                            <ul class="ratings">
                                <li> <small><i class="fas fa-star"></i></small> </li>
                                <li> <small><i class="fas fa-star"></i></small> </li>
                                <li> <small><i class="fas fa-star"></i></small> </li>
                                <li> <small><i class="fas fa-star"></i></small> </li>
                                <li> <small><i class="fas fa-star"></i></small> </li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <div class="meta">
                                <span><i class="far fa-clock"></i> {{ package.number_of_days }} Days</span>
                                <span><i class="far fa-user"></i> {{ package.number_of_times_booked }}</span>

                                {% if user.is_authenticated %}
                                <span><a href="{% url 'users:users-detail-package' package.id %}">Details<i class="far fa-long-arrow-right"></i></a></span>
                              {% else %}
                                <span><a href="{% url 'login' %}?next={% url 'users:users-detail-package' package.id %}"> Details<i class="far fa-long-arrow-right"></i></a></span>
                              {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=== Gowilds Pagination ===-->
                <ul class="gowilds-pagination wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                    <li><a href="#"><i class="far fa-arrow-left"></i></a></li>
                    <li><a href="#" class="active">01</a></li>
                  
                    <li><a href="#"><i class="far fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% include 'users/footer.html' %}

       
{% endblock %}